<div class="container">
    <ul>
        <li *ngFor="let event of events">
            <ul class="jumbotron">
                <li>Name of event: {{event.EventName}}</li>
                <li *ngIf="event.EventAddress!=''">Location: {{event.EventAddress}}</li>
                <li *ngIf="event.EventDescription!=''">Description: {{event.EventDescription}}</li>
                <li *ngIf="event.EventStartDate!=''">Start event on: {{event.EventStartDate}} {{event.EventStartTime}}</li>
                <li *ngIf="event.EventTravelTime!=''">Travel time: {{event.EventTravelTime}}</li>
                <li *ngIf="event.EventEndDate!=''">End event on: {{event.EventEndDate}} {{event.EventEndTime}}</li>
                <li *ngIf="event.EventPriority!=''">Priority: {{event.EventPriority}}</li>
            </ul>
            <br/>
        </li>        
    </ul>
</div>