<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a *ngIf="!isUserAuthenticated()" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign in
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login">Log in</a>
            <a class="dropdown-item" href="/register">Register</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a *ngIf="isUserAuthenticated()" class="nav-link dropdown-toggle" href="#" id="navbarEvents" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Event
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarEvents">
                <a class="dropdown-item" href="/event">New event</a>
                <a class="dropdown-item" href="/events">Events</a>
              </div>
        </li>
      </ul>
      <span *ngIf="isUserAuthenticated()">
        <a class="nav-link btn btn-warning" (click)="logOut()" href="#">Log out</a>
      </span>
    </div>
    
  </nav>