<div style="width: 100%;">
    <ejs-calendar style="margin: auto;" id="calendar" #calendar (change)="onChange($event)" [value]='value'></ejs-calendar>
    <br/>
    <p>
        {{result}}
    </p>
    <ul>
        <li *ngFor="let event of eve">
            <ul class="jumbotron">
                <li>Name of event: {{event.EventName}}</li>
                <li *ngIf="event.EventAddress!=''">Location: {{event.EventAddress}}</li>
                <li *ngIf="event.EventDescription!=''">Description: {{event.EventDescription}}</li>
                <li *ngIf="event.EventStartDate!=''">Start event on: {{event.EventStartDate}} {{event.EventStartTime}}</li>
                <li *ngIf="event.EventTravelTime!=''">Travel time: {{event.EventTravelTime}}</li>
                <li *ngIf="event.EventEndDate!=''">End event on: {{event.EventEndDate}} {{event.EventEndTime}}</li>
                <li *ngIf="event.EventPriority!=''">Priority: {{event.EventPriority}}</li>
                <div class="inline">
                <button class="d-inline btn btn-primary" (click)="edit(event.Id)">Edit</button>
                <form class="form-delete d-inline" #deleteForm="ngForm" (ngSubmit)="delete(deleteForm)">
                    
                    <input type="hidden" id="Id" name="{{event.Id}}" ngModel>
                    <button class="btn btn-danger" type="submit">Delete</button>
                    
                </form>
                </div>
            </ul>
            <br/>
        </li>        
    </ul>
</div>